<div class="container h-100">
  <div class="row h-100">
    <div class="d-flex justify-content-center">
      <div class="col col-sm-8 p-2 card mx-auto shadow">
        <form>
          <div class="m-2">
            <input
              type="text"
              class="form-control rounded-pill"
              placeholder="Buscar..."
            />
          </div>
        </form>
      </div>
    </div>
  </div>

  <app-button-float></app-button-float>

  <app-menu-fixed></app-menu-fixed>
</div>
