<div class="d-flex">
  <div class="col-2 col-sm-1">
    <img src="../assets/images/logo-up.jpg" class="img-thumbnail rounded-circle border" alt="logo-up" />
  </div>

  <div class="col-8 col-sm-10 m-2">
    <h6>
      {{ post.autor }}
      <span class="text-primary me-2"><i class="bi bi-patch-check-fill"></i></span>
      <span class="text-muted">@Bitacora_up</span>
    </h6>
    <a class="text-decoration-none text-dark" routerLink="/view/{id}">
      <p>
        {{post.frase}}
      </p>
    </a>
  </div>

  <div class="col-1 m-2">
    <div class="dropdown">
      <button class="btn dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
        <i class="bi bi-three-dots-vertical text-muted"></i>
      </button>
      <ul class="dropdown-menu">
        <li>
          <a class="dropdown-item" href="#"><span class="me-1"><i class="bi bi-upload"></i></span>Enviar</a>
        </li>
        <li>
          <a class="dropdown-item" routerLink="/update/{{ post._id }}">
            <span class="me-1"><i class="bi bi-pencil"></i></span>
            Editar</a>
        </li>
        <li>
          <button class="dropdown-item" (click)="delete(post._id, i)"><span class="me-1"><i
                class="bi bi-trash3"></i></span>Eliminar</button>
        </li>
      </ul>
    </div>
  </div>
</div>

<hr />