<div class="container fixed-bottom">
  <div class="d-flex justify-content-center">
    <div class="col col-sm-8 bg-light p-2 border shadow">
      <ul class="nav justify-content-evenly">

        <li class="nav-item">
          <a routerLink="/" class="nav-item text-black"><i class="bi bi-house fs-5"></i></a>
        </li>

        <li class="nav-item">
          <a routerLink="/random" class="nav-item text-black"><i class="bi bi-repeat-1 fs-5"></i></a>
        </li>

        <li class="nav-item">
          <a routerLink="/create" class="nav-item text-black"><i class="bi bi-plus-square fs-5"></i>
          </a>
        </li>

        <li class="nav-item">
          <a routerLink="/search" class="nav-item text-black"><i class="bi bi-search fs-5"></i></a>
        </li>

        <li class="nav-item">
          <a routerLink="/" class="nav-item text-secondary"><i class="bi bi-person-circle fs-5"></i></a>
        </li>
      </ul>
    </div>
  </div>
</div>